<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

 <context:component-scan base-package="com.ymmihw.springframework.core.ioc" />

 <bean id="schoolNotification" class="com.ymmihw.springframework.core.ioc.procedurally.SchoolNotification" scope="prototype" />

 <bean id="studentServices" class="com.ymmihw.springframework.core.ioc.procedurally.StudentServices" scope="prototype">
  <lookup-method name="getNotification" bean="schoolNotification" />
 </bean>
</beans>